<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Maintenance System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Tenant Maintenance Request System Website</h1>
    <p>A website for submitting, viewing, and managing maintenance requests from tenants</p><br>

    <form method=post>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username"><br>
        <br>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password"><br>
        <br>
        <input type="submit" value="Login">
    </form>
    <br><p>{{feedback}}</p>

</body>

</html>